<!doctype html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>OhShoot store</title>
</head>

<body>
    <div class="container"  id="app">
        <div class="row">
            <h1>Welcome {{user}}</h1>
        </div>
        <br><br>
        <div class="row">
            <div v-if="process_payment">
                <img src="images/processing.png">
                <br>
                <button v-if="payment_button" v-on:click="process_paypal">Make payment</button>
                <div id="paypal-button"></div>
            </div>
            <div v-else>
                <form>
                    Product name:
                    <br>
                    <p>{{productName}}</p>
                    Price per shoe:
                    <br>
                    <p>{{price}}</p>
    
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" v-model="quantity" min=0>
                    Total price : 
                    <input type="hidden" v-model="total_price">
                    {{ total_price }}
                    
                    <br>
    
                    <label for="address">Shipping Address</label>
                    <input type="text" class="form-control" id="address" v-model="address">
        
                    <input type="hidden" class="form-control" id="authentication_token" value="ABC">
                </form>
                <button class="btn btn-primary" v-on:click="processForm">Submit</button>
                <button class="btn btn-danger" v-on:click="return_to_index">Cancel</button>
                
            </div>
        
        </div>
    </div>

    <!-- payment stuff -->
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=ATtOwXSVt1lZ-0LkVNOGuawBkumaGwh0af_FqpMwuZrY2gIFS4sXLGxVNrH-MqkM7DlV34fZZ7y2l7Pb&disable-funding=credit,card"></script> -->

    <script src="https://www.paypal.com/sdk/js?client-id=ATtOwXSVt1lZ-0LkVNOGuawBkumaGwh0af_FqpMwuZrY2gIFS4sXLGxVNrH-MqkM7DlV34fZZ7y2l7Pb&currency=SGD&disable-funding=credit,card">
    </script>
     <!-- payment stuff -->

    <script>
        var place_order_URL = "http://localhost:5000/place_order";
        var place_order_2_URL = "http://localhost:5000/payment_successful";

        var vm = new Vue({
            el: '#app',
            data: {
                productName: "",
                message: "",
                price: 50,
                quantity: 0,
                address: "",
                authentication_token: "",
                user_email : "",
                user : "",
                AID: 0,
                payment_status: "Not Done",
                process_payment: false,
                payment_button: true
            },
            computed: {
                total_price: function(){
                    return this.quantity * this.price
                }
            },
            methods: {
                processForm: function () {
                    event.preventDefault()

                    let jsonData = JSON.stringify({
                        product_name: this.productName,
                        quantity: this.quantity,
                        total_price: this.total_price,
                        authentication_token: this.authentication_token,
                        AID: this.AID
                    });

                    const response =
                        fetch(place_order_URL, {
                            method: "POST",
                            headers: {
                                "Content-type": "application/json"
                            },
                            body: jsonData
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code < 200 || data.code >= 300) {
                                    message = data.message
                                    if (message == "User not logged in yet"){
                                        alert("You are either not logged in or your session has expired! Redirecting to login page.")
                                        window.location.replace("login.html")
                                    }
                                    else{
                                        const SID = data.data.stock_status.data.SID
                                        const name = data.data.stock_status.data.name
                                        const pictureURL = data.data.stock_status.data.pictureURL
                                        const price = data.data.stock_status.data.price
                                        const quantity = data.data.stock_status.data.quantity
                                    
                                        let url = `preorder.html?user_email=${this.user_email}&SID=${SID}&name=${name}&pictureURL=${pictureURL}&price=${price}&user_quantity=${this.quantity}&token=${this.authentication_token}&AID=${this.AID}&total_price=${this.total_price}&address=${this.address}`
                                        window.location.replace(url)
                                    }
                                } else {
                                    this.process_payment = true
                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });

                },
                processForm2: function () {
                    this.payment_status = "paid"

                    let jsonData = JSON.stringify({
                        product_name: this.productName,
                        quantity: this.quantity,
                        total_price: this.total_price,
                        authentication_token: this.authentication_token,
                        AID: this.AID,
                        payment_status: this.payment_status,
                        address: this.address
                    });

                    const response =
                        fetch(place_order_2_URL, {
                            method: "POST",
                            headers: {
                                "Content-type": "application/json"
                            },
                            body: jsonData
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code <= 200 || data.code >= 300) {
                                    this.message = data.message;
                                } else {
                                    url = `index.html?email=${this.user_email}&token=${this.authentication_token}`
                                    alert("successful")
                                    window.location.replace(url)
                                    
                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });

                },
                process_paypal: function(){
                    // START payment stuff
                    this.payment_button = false
                    paypal.Buttons({
                        style : {
                            color: 'blue',
                            shape: 'pill'
                        },
                        createOrder: function (data, actions) {
                                    let total = vm.total_price
                                    return actions.order.create({
                                            purchase_units : [{
                                                amount: {
                                                    value: total // have to change and link to price from previous microservices
                                                }
                                            }]
                                        });
                                    },
                        onApprove: function (data, actions) {
                            
                            vm.processForm2()
                        },
                        onCancel: function (data) {
                            vm.release_stock()
                            alert("Order Canceled, redirecting back to homepage")
                            url = `index.html?email=${vm.user_email}&token=${vm.authentication_token}`
                            window.location.replace(url)
                        }
                        
                    }).render('#paypal-button');
                    // END payment stuff
                },
                get_selected_details: function(){
                    var queryString = window.location.search;
                    if (queryString.length > 1){
                        queryString = queryString.slice(1);
                        var elements = queryString.split("&");
                        this.productName =  decodeURI(elements[0].split("=")[1])
                        this.user_email = elements[1].split("=")[1]
                        this.authentication_token =  elements[2].split("=")[1]
                    }
                },
                return_to_index: function(){
                    url = `index.html?email=${this.user_email}&token=${this.authentication_token}`
                    window.location.replace(url)
                },
                get_user: function(){
                    url = "http://localhost:5002/get_name/" + this.user_email;
                    const response =
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code < 200 || data.code >= 300) {
                                    alert("No such user")
                                } else {
                                    this.user = data.data.name;
                                    this.AID = data.data.AID
                                
                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });
                },
                release_stock: function(){
                    url = "http://localhost:5001/stock/add/" + this.productName;
                    let jsonData = JSON.stringify({
                        quantity: this.quantity,
                    });
                    const response =
                        fetch(url, {
                                method: "PUT",
                                headers: {
                                    "Content-type": "application/json"
                                },
                                body: jsonData
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code < 200 || data.code >= 300) {
                                    console.log("stock not released")
                                } else {
                                    console.log("stock released")
                                
                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });
                },
            },
            created: function(){
               this.get_selected_details();
               this.get_user();
            }

        })

    </script>
    
    
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>


</body>

</html>